.volume__slider {
  -webkit-appearance: none; /* Entfernt Standard-Styling */
  appearance: none;
  width: 250px;
  height: 5px;
  background: #4ddd6f; /* Farbe des Tracks */
  border-radius: 5px;
  outline: none;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.volume__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  background: #ffffff; /* Farbe des Schiebereglers */
  border-radius: 50%;
  cursor: pointer;
}

.volume__slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #33ff81;
  border-radius: 50%;
  cursor: pointer;
}
